<div class="container">
  <form class="form-signin" (ngSubmit)="signup()" #signupForm="ngForm">
    <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
      {{message}}
    </div>
    <h2 style="font-size:2.5vmax;margin:2px;" class="form-signin-heading">{{ 'html.signup_title' | translate }}</h2>

    <div class="form-group">
      <label class="sr-only">{{ 'html.signup_login' | translate }}</label>
      <input type="text" class="form-control" placeholder="User login" [(ngModel)]="signupData.username"
             name="username"/>
    </div>
    <div class="form-group">
      <label class="sr-only">{{ 'html.signup_firstname' | translate }}</label>
      <input type="text" class="form-control" placeholder="Firstname" [(ngModel)]="signupData.firstname"
             name="firstname"/>
    </div>
    <div class="form-group">
      <label class="sr-only">{{ 'html.signup_lastname' | translate }}</label>
      <input type="text" class="form-control" placeholder="Lastname" [(ngModel)]="signupData.lastname" name="lastname"/>
    </div>
    <div class="form-group">
      <label class="sr-only">{{ 'html.signup_affiliation' | translate }}</label>
      <input type="text" class="form-control" placeholder="Affiliation" [(ngModel)]="signupData.affiliation"
             name="affiliation"/>
    </div>
    <div class="form-group">
      <label class="sr-only">{{ 'html.signup_email' | translate }}</label>
      <input type="email" class="form-control" placeholder="Email address" [(ngModel)]="signupData.email" name="email"/>
    </div>
    <div class="form-group">
      <label class="sr-only">{{ 'html.sign_password' | translate }}</label>
      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="signupData.password"
             name="password" required/>
    </div>
    <div class="form-group">
      <label class="sr-only">{{ 'html.signup_agree' | translate }}</label>
      <input matInput placeholder="Input" style="display: none">
      <mat-checkbox name=agreementOk [(ngModel)]="acceptAgreement">
        <div [innerHTML]="testAgreement"></div>
      </mat-checkbox>
    </div>
    <button *ngIf="acceptAgreement" class="btn btn-lg btn-primary btn-block" type="submit"
            [disabled]="!signupForm.form.valid">{{ 'html.signup' | translate }}</button>
  </form>
</div>
