<div class="container">

  <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
      aria-hidden="true">&times;</span></button>
    {{message}}
  </div>
  <h2 style="font-size:2.5vmax;margin:2px;">{{ 'html.wm_inventory' | translate }}</h2>

  <div class="row" style="margin-top:10px;margin-bottom:10px;">
    <a [hidden]="!isConnected()" [routerLink]="['/filigrane-create']" class="btn btn-primary" style="margin-left:5px;margin-right:5px;">
      <mat-icon style="vertical-align: middle;">create_new_folder</mat-icon>
      <span> {{ 'html.new' | translate }}</span>
    </a>
    <button type="button" class="btn btn-primary" (click)="reloadList()" aria-label="Left Align" style="margin-left:5px;margin-right:5px;">
      <mat-icon style="vertical-align: middle;">refresh</mat-icon>
      <span> {{ 'html.refresh' | translate }}</span>
    </button>
  </div>

  <div class="row">
    <div class="col-md-12">
    <ngx-datatable
      class="material"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10"
      [selected]="selected"
      [selectionType]="'checkbox'"
      [selectAllRowsOnPage]="false"
      [displayCheck]="displayCheck"
      (activate)="onActivate($event)"
      (select)='onSelect($event)'>
      <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true">
      </ngx-datatable-column>

      <ngx-datatable-column name="Date" prop="updatedDate" [sortable]="true">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | date: 'MM/dd/yyyy'}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Provided by" prop="userId" [sortable]="true">
      </ngx-datatable-column>

      <ngx-datatable-column name="Institution" prop="institution" [sortable]="true">
      </ngx-datatable-column>

      <ngx-datatable-column name="Document" prop="reference" [sortable]="true">
      </ngx-datatable-column>

      <ngx-datatable-column name="Action" prop="documentId" [sortable]="false">
        <ng-template let-rowIndex="rowIndex" let-documentId="value" ngx-datatable-cell-template>
          <button class="btn btn-sm" (click)="detailsItem(documentId)">Details</button>
          <button *ngIf="idUserContribution(documentId)" class="btn btn-sm btn-danger" ConfirmDialog (then)="deleteItem(documentId)"
                  (else)="cancel()">
            {{ 'html.delete' | translate }}
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    </div>
  </div>

  <mat-spinner *ngIf="showSpinner" style="position:fixed;right:40%;bottom:50%"></mat-spinner>

</div>


