<div class="container" style="display:flex;flex-direction:column;flex-grow:1;">


  <div style="display:flex;flex-direction:column;flex-grow:1;flex-shrink:1;" [hidden]="showFullscreen()">
    <pinch-zoom style="display:flex;flex-direction:column;flex-grow:1;max-height: 90%;">
      <img style="flex-grow:1;object-fit:contain;" [src]="myFullresImage"/>
    </pinch-zoom>
    <button style="text-align:center;" class="btn btn-primary" type="button" (click)="closeModal()">
      {{ 'html.close' | translate }}
    </button>
  </div>

  <div class="row" [hidden]="!showFullscreen()" >
    <div class="col-md-12" style="margin: 10px;">
      <button *ngIf="isMatchDetails" (click)="backSearch()" class="btn btn-primary">{{ 'html.back' | translate }}</button>
      <button *ngIf="!isMatchDetails" (click)="routeHome()" class="btn btn-primary">{{ 'html.back' | translate }}</button>
      <button *ngIf="!isMatchDetails&&idUserContribution()" [routerLink]="['/filigrane-edit', document.documentId]" class="btn btn-primary">{{ 'html.edit' | translate }}</button>
      <button *ngIf="idUserContribution()" class="btn btn-danger" type="button" ConfirmDialog
              (then)="deleteItem(document.documentId)" (else)="cancel()">
        {{ 'html.delete' | translate }}
      </button>
    </div>
  </div>

  <div class="row" [hidden]="!showFullscreen()" >
    <div class="col-sm-4" style="border:1px solid black;">
      <dl class="list">
        <dt>{{ 'html.details_institution' | translate }}</dt>
        <dd>{{ document.institution }}</dd>
        <dt>{{ 'html.details_ref' | translate }}</dt>
        <dd>{{ document.reference }}
          <div *ngIf="isParameterDefined('REFERENCE')">
            {{ getParameterValue("REFERENCE") }}
          </div>
        </dd>
        <dt>{{ 'html.details_period' | translate }}</dt>
        <dd>{{ document.TPQ }} - {{ document.TAQ}}</dd>
        <div *ngIf="isParameterDefined('URL')">
          <dt>URL</dt>
          <dd><a target="_blank" href="{{ getParameterValue('URL') }}">link</a></dd>
        </div>
        <div *ngIf="isParameterDefined('NOTARY')">
          <dt>{{ 'html.details_notary' | translate }}</dt>
          <dd>{{ getParameterValue("NOTARY") }}</dd>
        </div>
      </dl>
    </div>
    <div class="col-sm-4" style="border:1px solid black;">
      <dl class="list">
        <dt>{{ 'html.details_wm_shape' | translate }}</dt>
        <dd>{{ document.watermarkShape }}</dd>
        <dt *ngIf="document.documentWidth !== 0">{{ 'html.details_pg_width' | translate }}:</dt>
        <dd *ngIf="document.documentWidth !== 0">{{ document.documentWidth }} mm</dd>
        <dt *ngIf="document.documentHeight !== 0">{{ 'html.details_pg_height' | translate }}:</dt>
        <dd *ngIf="document.documentHeight !== 0">{{ document.documentHeight }} mm</dd>
        <dt *ngIf="document.watermarkWidth !== 0">{{ 'html.details_wm_width' | translate }}:</dt>
        <dd *ngIf="document.watermarkWidth !== 0">{{ document.watermarkWidth }} mm</dd>
        <dt *ngIf="document.watermarkHeight !== 0">{{ 'html.details_wm_height' | translate }}:</dt>
        <dd *ngIf="document.watermarkHeight !== 0">{{ document.watermarkHeight }} mm</dd>
      </dl>
    </div>
    <div class="col-sm-4" style="border:1px solid black;">
      <dl class="list">
        <dt>{{ 'html.details_contrib' | translate }}</dt>
        <dd>{{ document.userId }}</dd>
        <dt [hidden]=true>{{ 'html.details_contrib' | translate }}</dt>
        <dd [hidden]=true>{{ document.allowPhotoRepro }}</dd>
        <dt [hidden]=true>{{ 'html.details_train' | translate }}</dt>
        <dd [hidden]=true>{{ document.allowPhotoTrain }}</dd>
      </dl>
    </div>
  </div>

  <div class="col-sm-12" class="row" [hidden]="!showFullscreen()" >
    <div *ngFor="let page of document.pages; let iPage = index">
      <div  class="flex-container" style="border:1px solid black;">
        <dl class="list">
          <dt>{{ 'html.details_page_number' | translate }}</dt>
          <dd>{{ page.pageNumber }}</dd>
          <br>
          <dt *ngIf="page.documentWidth !== 0">Page width:</dt>
          <dd *ngIf="page.documentWidth !== 0">{{ page.documentWidth }}</dd>
          <dt *ngIf="page.documentHeight !== 0">Page height:</dt>
          <dd *ngIf="page.documentHeight !== 0">{{ page.documentHeight }}</dd>
          <dt *ngIf="page.watermarkWidth !== 0">Page watermark width:</dt>
          <dd *ngIf="page.watermarkWidth !== 0">{{ page.watermarkWidth }}</dd>
          <dt *ngIf="page.watermarkHeight !== 0">Page watermark height:</dt>
          <dd *ngIf="page.watermarkHeight !== 0">{{ page.watermarkHeight }}</dd>
        </dl>

        <div class="flex-container">
          <div class="flex-item" *ngFor="let thumbnail of page.thumbnails; let iThumbnail = index">
            <img class="btn" type="button" (click)="showFullscreenImage(thumbnail.imageId)" id="filigraneImg_{{iPage}}_{{iThumbnail}}"
                 style="max-width:150px;max-height:100%;" [src]="images[thumbnail.imageId]"/>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row" [hidden]="!showFullscreen()" >
    <div class="col-md-12" style="margin: 10px;">
      <button *ngIf="isMatchDetails" (click)="backSearch()" class="btn btn-primary">{{ 'html.back' | translate }}</button>
      <button *ngIf="!isMatchDetails" (click)="routeHome()" class="btn btn-primary">{{ 'html.back' | translate }}</button>
      <button *ngIf="!isMatchDetails&&idUserContribution()" [routerLink]="['/filigrane-edit', document.documentId]" class="btn btn-primary">{{ 'html.edit' | translate }}</button>
      <button *ngIf="idUserContribution()" class="btn btn-danger" type="button" ConfirmDialog
              (then)="deleteItem(document.documentId)" (else)="cancel()">
        {{ 'html.delete' | translate }}
      </button>
    </div>
  </div>

  <mat-spinner *ngIf="showSpinner" style="position:fixed;right:40%;bottom:50%"></mat-spinner>



</div>
