<div class="container">

  <div class="col-md-6">
    <form class="form-signin" (ngSubmit)="login()" #loginForm="ngForm">
      <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        {{message}}
      </div>
      <h2 style="font-size:2.5vmax;margin:2px;" class="form-signin-heading">{{ 'html.sign_signin' | translate }}</h2>

      <div class="form-group">
        <label class="sr-only">{{ 'html.sign_login' | translate }}</label>
        <input type="text" class="form-control" placeholder="{{ 'html.sign_login' | translate }}" [(ngModel)]="loginData.username"
               name="username" required/>
      </div>
      <div class="form-group">
        <label class="sr-only">{{ 'html.sign_password' | translate }}</label>
        <input type="password" class="form-control" placeholder="{{ 'html.sign_password' | translate }}" [(ngModel)]="loginData.password"
               name="password" required/>
      </div>
      <button class="btn btn-lg btn-primary btn-block" name="submit_login" type="submit" [disabled]="!loginForm.form.valid">{{ 'html.sign_signin' | translate }}</button>
      <p [hidden]="!displaySignUp">{{ 'html.sign_notmember' | translate }} <a [routerLink]="['/signup']">{{ 'html.sign_signup' | translate }}</a>
      </p>
    </form>

  </div>
</div>
