<div class="container">

  <!-- local notification message and title-->
  <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
      aria-hidden="true">&times;</span></button>
    {{message}}
  </div>
  <h2 style="font-size:2.5vmax;margin:2px;">{{ 'html.search_title' | translate }}</h2>

  <!-- camera video -->
  <div class="row">
    <div class="col-md-12" [hidden]="!showVideo">
      <div class="content" *ngIf="showVideo" (window:resize)="onWindowResize($event)">
        <div class="video-overlay" id="border">{{ 'html.search_wm_position' | translate }}</div>
        <video id="player" controls autoplay playsinline></video>
      </div>
    </div>
  </div>

  <!-- hidden file name and canvas for upatured image (full size) -->
  <div class="row">
    <div class="col-md-6" [hidden]="true">
      <input id="input-file-id" type="file" (change)="uploadChange($event)" accept="image/*" multiple type="file" />
    </div>
    <div class="col-md-12" [hidden]="!showVideo">
      <canvas [hidden]="true" id="capturedImage"></canvas>
    </div>
  </div>

  <!-- thumbnail of the captured/uploaded image for reference before search -->
  <div class="row" [hidden]="!showForm || showFormResults">
    <div class="col-md-6">
      <canvas id="thumbnailImg" width=360 height=360></canvas>
    </div>
  </div>

  <!-- small thumbnail of the captured/uploaded image for reference after search -->
  <div class="row" [hidden]="!showFormResults">
    <div class="col-md-6">
      <canvas id="thumbnailImgResult" width=180 height=180></canvas>
    </div>
  </div>

  <!-- button to restart a search -->
  <div class="row" style="margin-left:2px;margin-top:10px;margin-bottom:10px;" [hidden]="showVideo">
    <div class="col-xs">
      <button class="btn btn-outline-primary" (click)="restartSearch()" >
        <mat-icon style="vertical-align: middle;">refresh</mat-icon>
        <span> {{ 'html.search_restart' | translate }}</span>
      </button>
    </div>
  </div>

  <!-- row for switch, capture, upload buttonss -->
  <div class="row" style="margin-left:2px;margin-top:10px;margin-bottom:10px;">
    <div class="col-xs" style="margin-left:10px;margin-right:1px;" [hidden]="!showVideo">
      <button class="btn btn-outline-primary" id="capture">
        <mat-icon style="vertical-align: middle;">add_a_photo</mat-icon>
        <span> {{ 'html.search_capture' | translate }}</span>
      </button>
    </div>
    <div class="col-xs" style="margin-left:1px;margin-right:1px;" [hidden]="!showVideo">
      <label for="input-file-id" class="btn btn-outline-primary" style="width: -webkit-fill-available;">
        <mat-icon style="vertical-align: middle;">add_a_photo</mat-icon>
        <span> {{ 'html.search_file' | translate }} </span>
      </label>
    </div>
    <div class="col-xs" style="margin-left:auto;margin-right:10px;" [hidden]="!showVideo" >
      <button class="btn btn-outline-primary" id="switchcamera" (click)="switchCamera()">
        <mat-icon style="vertical-align: middle;">switch_camera</mat-icon>
        <span> {{ 'html.search_switch_cam' | translate }}</span>
      </button>
    </div>
  </div>

  <!-- button to find  -->
  <div class="row" style="margin-left:2px;margin-top:10px;margin-bottom:10px;" [hidden]="!showForm || showFormResults">
    <div class="col-xs">
      <button class="btn btn-outline-primary" (click)="showResult()">
        <mat-icon style="vertical-align: middle;">find_in_page</mat-icon>
        <span> {{ 'html.search_start' | translate }}</span>
      </button>
    </div>
  </div>

  <!-- alternate between more less buttons -->
  <div class="row" style="margin-left:2px;margin-top:10px;margin-bottom:10px;" [hidden]="!showFormResults">
    <div class="col-xs" [hidden]="showMoreResults()">
      <button class="btn btn-outline-primary" (click)="showMoreLessResults()">
        <mat-icon style="vertical-align: middle;">unfold_more</mat-icon>
        <span> {{ 'html.search_more' | translate }}</span>
      </button>
    </div>
    <div class="col-xs" [hidden]="!showMoreResults()">
      <button class="btn btn-outline-primary"  (click)="showMoreLessResults()">
        <mat-icon style="vertical-align: middle;">unfold_less</mat-icon>
        <span> {{ 'html.search_less' | translate }}</span>
      </button>
    </div>
  </div>

  <!-- grid with all results -->
  <div class="row" *ngIf="showFormResults">
    <div class="col-xs-2" *ngFor="let matchId of documentDrawingMatchIds | slice:0:maxResultsDrawing; let iThumbnail = index" style="margin-top:2px;margin-bottom:2px;">
      <img id="doc_drawing_{{iThumbnail}}_{{matchId}}"
           style="object-fit: contain;width:100%;height:auto;max-height:120px"
           [src]="imageMatchs[matchId].thumbnail"/>
      <div style="text-align:center;">
        <button class="w3-button w3-red" (click)="detailsItem(matchId)">{{ 'html.search_details' | translate }}</button>
      </div>
    </div>

    <div class="col-xs-2" *ngFor="let matchId of documentPhotoMatchIds | slice:0:maxResultsPhoto; let iThumbnail = index" style="margin-top:2px;margin-bottom:2px;">
      <img id="doc_photo_{{iThumbnail}}_{{matchId}}"
           style="object-fit: contain;width:100%;height:auto;max-height:120px"
           [src]="imageMatchs[matchId].thumbnail"/>
      <div style="text-align:center;">
        <button class="w3-button w3-red" (click)="detailsItem(matchId)">{{ 'html.search_details' | translate }}</button>
      </div>
    </div>
  </div>

  <mat-spinner *ngIf="showSpinner" style="position:fixed;right:40%;bottom:50%"></mat-spinner>
</div>
