.content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}

.content video {
  width: 100%;
  display: block;
  pointer-events: none;
}

.video-overlay {
  position: absolute;
  margin: 0;
  padding: 0 0;

  font-size: 10px;
  font-family: Helvetica;
  color: #FFF;
  background-color: rgba(50, 50, 50, 0.3);

  border-color: rgba(250, 180, 72, 0.5);

  border-style: solid;

  border-top-width: 40px;
  border-bottom-width: 40px;
  border-left-width: 40px;
  border-right-width: 40px;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.videostream, #cssfilters-video, #screenshot, #screenshot-img {
  width: 1280%;
  height: 720%;
}

.videostream, #cssfilters-stream {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
}

mat-slider {
  width: 300px;
}

#input-slider {
  border: 2px #ba0d32 solid;
  width: 40px;
  text-align: right;
}

#screenshot {
  vertical-align: top;
}

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.brightness {
  -webkit-filter: brightness(5);
  -moz-filter: brightness(5);
  -o-filter: brightness(5);
  -ms-filter: brightness(5);
  filter: brightness(5);
}

.contrast {
  -webkit-filter: contrast(8);
  -moz-filter: contrast(8);
  -o-filter: contrast(8);
  -ms-filter: contrast(8);
  filter: contrast(8);
}

.hue-rotate {
  -webkit-filter: hue-rotate(90deg);
  -moz-filter: hue-rotate(90deg);
  -o-filter: hue-rotate(90deg);
  -ms-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}

.hue-rotate2 {
  -webkit-filter: hue-rotate(180deg);
  -moz-filter: hue-rotate(180deg);
  -o-filter: hue-rotate(180deg);
  -ms-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
}

.hue-rotate3 {
  -webkit-filter: hue-rotate(270deg);
  -moz-filter: hue-rotate(270deg);
  -o-filter: hue-rotate(270deg);
  -ms-filter: hue-rotate(270deg);
  filter: hue-rotate(270deg);
}

.saturate {
  -webkit-filter: saturate(10);
  -moz-filter: saturate(10);
  -o-filter: saturate(10);
  -ms-filter: saturate(10);
  filter: saturate(10);
}

.grayscale {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
}

.sepia {
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -o-filter: sepia(1);
  -ms-filter: sepia(1);
  filter: sepia(1);
}

.invert {
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  -ms-filter: invert(1);
  filter: invert(1);
}

@import "../../../node_modules/bootstrap/scss/bootstrap";

/* ------- customize primary buttons -------- */
$mynewcolor: #e32b21;

.btn-primary {
  @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
}

.btn-outline-primary {
  @include button-outline-variant($mynewcolor, #222222, lighten($mynewcolor,5%), $mynewcolor);
}
