<div class="container">

  <div class="row">
    <h2 style="font-size:2.5vmax;margin:2px;">{{ 'html.new_title' | translate }}</h2>
  </div>

  <div class="row">
    <div class="col-md-12" [hidden]="!showVideo">
      <div class="content" *ngIf="showVideo" (window:resize)="onWindowResize($event)">
        <div class="video-overlay" id="border">{{ 'html.search_wm_position' | translate }}</div>
        <video id="player" controls autoplay></video>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:10px;margin-bottom:10px;">
    <div class="col-xs" style="margin-left:10px;margin-right:1px;" [hidden]="!showVideo">
      <button class="btn btn-outline-primary" id="capture">
        <mat-icon style="vertical-align: middle;">add_a_photo</mat-icon>
        <span> {{ 'html.search_capture' | translate }}</span>
      </button>
    </div>
    <div class="col-xs" style="margin-left:1px;margin-right:1px;" [hidden]="!showVideo">
      <label for="input-file-id" class="btn btn-outline-primary" style="width: -webkit-fill-available;">
        <mat-icon style="vertical-align: middle;">add_a_photo</mat-icon>
        <span> {{ 'html.search_file' | translate }} </span>
      </label>
    </div>
    <div class="col-xs" style="margin-left:auto;margin-right:10px;" [hidden]="!showVideo" >
      <button class="btn btn-outline-primary" id="switchcamera" (click)="switchCamera()">
        <mat-icon style="vertical-align: middle;">switch_camera</mat-icon>
        <span> {{ 'html.search_switch_cam' | translate }}</span>
      </button>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6" [hidden]="true">
      <input id="input-file-id" type="file" (change)="uploadChange($event)" accept="image/*" multiple type="file" />
    </div>
    <div class="col-md-12" [hidden]="!showVideo">
      <canvas [hidden]="true" id="capturedImage"></canvas>
    </div>
  </div>

  <div class="row" [hidden]="!showForm">
    <div class="col-md-6">
      <canvas id="thumbnailImg" width=240 height=360></canvas>
    </div>
  </div>

  <div class="row" [hidden]="!showForm">
    <div class="col-md-6">
      <form (ngSubmit)="saveFiligrane()" #filigraneForm="ngForm">

        <div class="form-group">
          <mat-form-field style="margin-left:5px;margin-right:5px;">
            <input type="text" matInput placeholder="{{ 'html.institution' | translate }}" [formControl]="myControl" name="institution"
                   [matAutocomplete]="auto" [(ngModel)]="document.institution">
            <mat-autocomplete panelWidth="auto" #auto="matAutocomplete">
              <mat-option *ngFor="let institution of filteredInstitutions | async" [value]="institution">
                {{institution}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field style="margin-left:5px;margin-right:5px;">
            <input matInput placeholder="{{ 'html.details_ref' | translate }}" [(ngModel)]="document.reference" name="cote">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field style="margin-left:5px;margin-right:5px;">
            <mat-select placeholder="{{ 'html.doc_type' | translate }}" [(ngModel)]="document.documentType" name="documentType">
              <mat-option *ngFor="let docType of docTypes" [value]="docType">
                {{docType}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="margin-left:5px;margin-right:5px;">
            <input matInput placeholder="{{ 'html.details_wm_shape' | translate }}" [(ngModel)]="document.watermarkShape" name="watermarkShape">
          </mat-form-field>

          <mat-form-field style="margin-left:5px;margin-right:5px;">
            <input matInput placeholder="{{ 'html.new_period_start' | translate }}" [(ngModel)]="document.TPQ" name="TPQ">
          </mat-form-field>
          <mat-form-field style="margin-left:5px;margin-right:5px;">
            <input matInput placeholder="{{ 'html.new_period_end' | translate }}" [(ngModel)]="document.TAQ" name="TAQ">
          </mat-form-field>
        </div>
        <div class="form-group">
          <input matInput placeholder="" style="display: none">
          <mat-checkbox name=advancedOk [(ngModel)]="advancedInfo">{{ 'html.new_advanced' | translate }}</mat-checkbox>
        </div>
        <div class="form-group" *ngIf="advancedInfo">
          <mat-form-field style="margin-left:5px;margin-right:5px;">
            <input matInput placeholder="{{ 'html.keywords' | translate }}" [(ngModel)]="document.keywords" name="keywords">
          </mat-form-field>
          <mat-form-field style="margin-left:5px;margin-right:5px;">
            <input matInput placeholder="{{ 'html.description' | translate }}" [(ngModel)]="document.description" name="description">
          </mat-form-field>
        </div>
        <div class="form-group" *ngIf="advancedInfo">
          <label style="margin-bottom:0px;font-size:12px;padding:0px;">{{ 'html.details_pg_height' | translate }} (<input matInput min="0"
                                                                                               max="1000" type="number"
                                                                                               placeholder=""
                                                                                               [(ngModel)]="document.documentHeight"
                                                                                               name="docH"
                                                                                               id="input-slider"/>
            mm)</label>
          <mat-slider [(ngModel)]="document.documentHeight" (input)="onInputChangeDocH($event)"
                      [value]="document.documentHeight" min="1" max="1000" step="1" tickInterval="1"
                      name="docHeight"></mat-slider>
        </div>
        <div class="form-group" *ngIf="advancedInfo">
          <label style="margin-bottom:0px;font-size:12px;padding:0px;">{{ 'html.details_pg_width' | translate }} (<input matInput min="0"
                                                                                              max="1000" type="number"
                                                                                              placeholder=""
                                                                                              [(ngModel)]="document.documentWidth"
                                                                                              name="docW"
                                                                                              id="input-slider"/>
            mm)</label>
          <mat-slider [(ngModel)]="document.documentWidth" (input)="onInputChangeDocW($event)"
                      [value]="document.documentWidth"
                      min="1" max="1000" step="1" tickInterval="1" name="docWidth"></mat-slider>
        </div>
        <div class="form-group" *ngIf="advancedInfo">
          <label style="margin-bottom:0px;font-size:12px;padding:0px;">{{ 'html.details_wm_height' | translate }} (<input matInput min="0"
                                                                                                max="1000" type="number"
                                                                                                placeholder=""
                                                                                                [(ngModel)]="document.watermarkHeight"
                                                                                                name="watH"
                                                                                                id="input-slider"/> mm)</label>
          <mat-slider [(ngModel)]="document.watermarkHeight" (input)="onInputChangeWatH($event)"
                      [value]="document.watermarkHeight" min="1" max="1000" step="1" tickInterval="1"
                      name="waterHeight"></mat-slider>
        </div>
        <div class="form-group" *ngIf="advancedInfo">
          <label style="margin-bottom:0px;font-size:12px;padding:0px;">{{ 'html.details_wm_width' | translate }} (<input matInput min="0"
                                                                                               max="1000" type="number"
                                                                                               placeholder=""
                                                                                               [(ngModel)]="document.watermarkWidth"
                                                                                               name="watW"
                                                                                               id="input-slider"/>
            mm)</label>
          <mat-slider [(ngModel)]="document.watermarkWidth" (input)="onInputChangeWatW($event)"
                      [value]="document.watermarkWidth" min="1" max="1000" step="1" tickInterval="1"
                      name="waterWidth"></mat-slider>
        </div>
        <div class="form-group" *ngIf="advancedInfo">
          <mat-radio-group [hidden]=true name="train" [(ngModel)]="document.allowPhotoTrain" required>
            <label style="margin-bottom:0px;font-size:12px;padding:0px;">{{ 'html.new_train' | translate }}s</label><br>
            <mat-radio-button [value]=true>{{ 'html.yes' | translate }}</mat-radio-button>
            <mat-radio-button [value]=false>{{ 'html.no' | translate }}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="form-group" *ngIf="advancedInfo">
          <mat-radio-group [hidden]=true name="repro" [(ngModel)]="document.allowPhotoRepro" required>
            <label style="margin-bottom:0px;font-size:12px;padding:0px;">{{ 'html.new_repro' | translate }}</label><br>
            <mat-radio-button [value]=true>{{ 'html.yes' | translate }}</mat-radio-button>
            <mat-radio-button [value]=false>{{ 'html.no' | translate }}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!filigraneForm.form.valid">{{ 'html.save' | translate }}</button>
          <button class="btn btn-warning" (click)="routeHome()"  [disabled]="!filigraneForm.form.valid">{{ 'html.cancel' | translate }}</button>
        </div>
      </form>
    </div>
  </div>

  <mat-spinner *ngIf="showSpinner" style="position:fixed;right:40%;bottom:50%"></mat-spinner>

</div>
