<div class="container">
  <h2 style="font-size:2.5vmax;margin:2px;">{{ 'html.edit_title' | translate }}</h2>

  <div class="row">
    <div class="form-group">
      <a [routerLink]="['/filigranes']" class="btn btn-success">{{ 'html.home' | translate }}</a>
      <button type="submit" class="btn btn-success" [disabled]="!filigraneForm.form.valid">{{ 'html.update' | translate }}</button>
      <button type="button" class="btn btn-default" (click)="cancelUpdate()">{{ 'html.cancel' | translate }}</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form [hidden]="showVideo" (ngSubmit)="updateFiligrane(doc.documentId)" #filigraneForm="ngForm">
        <div class="form-group">
          <mat-form-field style="margin-left:5px;margin-right:5px;">
            <input matInput placeholder="{{ 'html.details_ref' | translate }}" [(ngModel)]="doc.reference" name="reference">
          </mat-form-field>
          <mat-form-field style="margin-left:5px;margin-right:5px;">
            <textarea matInput matTextareaAutosize matAutosizeMinRows="2" placeholder="{{ 'html.description' | translate }}"
                      [(ngModel)]="doc.description" name="description"></textarea>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field style="margin-left:5px;margin-right:5px;">
            <input matInput placeholder="{{ 'html.new_period_start' | translate }}" [(ngModel)]="doc.TPQ" name="TPQ">
          </mat-form-field>
          <mat-form-field style="margin-left:5px;margin-right:5px;">
            <input matInput placeholder="{{ 'html.new_period_end' | translate }}" [(ngModel)]="doc.TAQ" name="TAQ">
          </mat-form-field>
        </div>
        <div class="form-group">
          <label style="margin-bottom:0px;font-size:12px;padding:0px;">{{ 'html.details_pg_height' | translate }} (<input matInput min="0"
                                                                                               max="1000" type="number"
                                                                                               placeholder=""
                                                                                               [(ngModel)]="doc.documentHeight"
                                                                                               name="docH"
                                                                                               id="input-slider"/>
            mm)</label>
          <mat-slider [(ngModel)]="doc.documentHeight" (input)="onInputChangeDocH($event)"
                      [value]="doc.documentHeight" min="1" max="1000" step="1" tickInterval="1"
                      name="docHeight"></mat-slider>
        </div>
        <div class="form-group">
          <label style="margin-bottom:0px;font-size:12px;padding:0px;">{{ 'html.details_pg_width' | translate }} (<input matInput min="0"
                                                                                              max="1000" type="number"
                                                                                              placeholder=""
                                                                                              [(ngModel)]="doc.documentWidth"
                                                                                              name="docW"
                                                                                              id="input-slider"/>
            mm)</label>
          <mat-slider [(ngModel)]="doc.documentWidth" (input)="onInputChangeDocW($event)"
                      [value]="doc.documentWidth"
                      min="1" max="1000" step="1" tickInterval="1" name="docWidth"></mat-slider>
        </div>

        <div *ngFor="let page of doc.pages ; let iPage = index" class="row">
          <div class="form-group">
            <mat-form-field style="margin-left:5px;margin-right:5px;">
              <input matInput placeholder="{{ 'html.details_page_number' | translate }}" [(ngModel)]="doc.pages[iPage].pageNumber"
                     name="pageNumber_{{iPage}}">
            </mat-form-field>
          </div>
          <div *ngFor="let thumbnail of page.thumbnails; let iThumbnail = index" class="col-xs-6">
            <div class="col-md-3">
              <img id="filigraneImg_{{iPage}}_{{iThumbnail}}"
                   style="object-fit: contain;width:100%;height:auto;max-height:360px"
                   [src]="images[thumbnail.imageId]"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="button" (click)="addPage()" class="btn btn-primary float-right small">{{ 'html.edit_add_page' | translate }}</button>
        </div>
        <div class="form-group">
          <a [routerLink]="['/filigranes']" class="btn btn-success">{{ 'html.home' | translate }}</a>
          <button type="submit" class="btn btn-success" [disabled]="!filigraneForm.form.valid">{{ 'html.update' | translate }}</button>
          <button type="button" class="btn btn-default" (click)="cancelUpdate()">{{ 'html.cancel' | translate }}</button>
        </div>
      </form>
    </div>
  </div>


  <div class="row" [hidden]="!showVideo">
    <div class="col-md-12">
      <div class="content" (window:resize)="onWindowResize($event)">
        <div class="video-overlay" id="border">{{ 'html.search_wm_position' | translate }}</div>
        <video #player id="player" controls autoplay></video>
      </div>
    </div>
    <div class="col-md-2" style="margin-top:10px;margin-bottom:10px;">
      <button class="btn btn-primary" id="capture" style="width:100%;">{{ 'html.search_capture' | translate }}</button>
    </div>
    <div class="col-md-6" style="margin-top:10px;margin-bottom:10px;">
      <input style="width:100%;text-align:left;" class="btn btn-primary" type="file" accept="image/*"
             (click)="this.value = null" (change)="uploadChange($event)"/>
    </div>
    <div class="col-md-12" [hidden]="!showVideo">
      <canvas [hidden]="true" id="capturedImage"></canvas>
    </div>
  </div>


  <div class="row" [hidden]="!showForm">
    <div class="col-md-6">
      <canvas id="thumbnailImg" width=240 height=360></canvas>
    </div>
  </div>


  <mat-spinner *ngIf="showSpinner" style="position:fixed;right:40%;bottom:50%"></mat-spinner>

</div>
