.content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}

.content video {
  width: 100%;
  display: block;
  pointer-events: none;
}

.video-overlay {
  position: absolute;
  margin: 0;
  padding: 0 0;

  font-size: 10px;
  font-family: Helvetica;
  color: #FFF;
  background-color: rgba(50, 50, 50, 0.3);

  border-color: rgba(250, 180, 72, 0.5);

  border-style: solid;

  border-top-width: 40px;
  border-bottom-width: 40px;
  border-left-width: 40px;
  border-right-width: 40px;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.videostream, #cssfilters-video, #screenshot, #screenshot-img {
  width: 1280%;
  height: 720%;
}

.videostream, #cssfilters-stream {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
}

mat-slider {
  width: 300px;
}

#input-slider {
  border: 2px #FF4081 solid;
  width: 40px;
  text-align: right;
}

#screenshot {
  vertical-align: top;
}
