<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'over'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar style= "color: white;">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" (click)="drawer.close()" routerLink="/filigrane-search" routerLinkActive="active" style="display:flex;align-items: center;" >
          <mat-icon style="margin-right:5px;">image_search</mat-icon>
          <span>{{ 'html.identify' | translate }}</span>
      </a>
      <a mat-list-item href="#" (click)="drawer.close()" routerLink="/filigranes" routerLinkActive="active" style="display:flex;align-items: center;" >
          <mat-icon style="margin-right:5px;">home</mat-icon>
          <span>{{ 'html.inventory' | translate }}</span>
      </a>
      <a mat-list-item href="#" (click)="drawer.close()" target="_blank" href="https://filigranes.hypotheses.org/le-projet" style="display:flex;align-items: center;" >
          <mat-icon style="margin-right:5px;">info</mat-icon>
          <span>{{ 'html.about' | translate }}</span>
      </a>
      <a [hidden]="isConnected()" mat-list-item href="#" (click)="drawer.close()" routerLink="/login" routerLinkActive="active" style="display:flex;align-items: center;" >
          <mat-icon style="margin-right:5px;">account_box</mat-icon>
          <span>{{ 'html.sign_signin' | translate }}</span>
      </a>
      <a [hidden]="!isConnected()" mat-list-item href="#" (click)="drawer.close()">
        <a (click)="logout()" style="display:flex;align-items: center;" >
          <mat-icon style="margin-right:5px;">power_settings_new</mat-icon>
          <span>{{ 'html.logout' | translate }}</span>
        </a>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height:100vh;display: flex;flex-direction: column">

    <mat-toolbar color="#ba0d32" style="background-color:#ba0d32">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        style= "color: white;"
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <h2><a style= "font-size:3vmax;color: white;">{{ 'html.title' | translate }}</a></h2>
      </span>
    </mat-toolbar>

    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
